* {
    font-family: 'IBM Plex Sans Condensed', sans-serif;    color: black;
}

.header {
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 7vh;
    text-align: center;
    font-size: 70px;
}

.text-box {
    background-color: white;
    color: black;
    width: 20vw;
    height: 3vw;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 20px;
  
}

.search-button {
  background-color: rgb(189, 185, 185);
  border: solid;
  color: black;
  width: 20vw;
  height: 10vw
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 20px;
}

.search-button:hover {
    background-color: rgb(182, 237, 16);
    cursor: pointer;
}


.card {
    background-color: rgb(242, 241, 241);
    width: 70vw;
}

.card-group {
    width: 100vw;
}

.search-container {
    background-color: rgb(217, 217, 217);
    border: none;
    border-radius: 10px;
    margin: 30px;
    flex: 1;
    opacity: 80%;
    padding: 10px;

}

.current-container {
    border: none;
    border-radius: 10px;
    margin: 30px;
    flex: 1;
    background-color: rgb(217, 217, 217);
    opacity: 80%;
    padding: 10px;

}

.flex-container {
   display: flex;
   background-image: url("https://source.unsplash.com/1800x1200/?weather");
}

.uv-index-severe {
color: red;
}

.uv-index-moderate {
    color: orange;
}

.uv-index-favourable {
    color: green;
}

